body {
    font-family: sans-serif;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    min-height: 100vh;
}

.results-container {
    margin: auto;
    margin-top: 4em;
    width: 70%;
    height: auto;
    padding: 1rem;
    
    display: grid;

    background-color: #fff;
    border-radius: 10px;
}

.title {
    text-align: center;
    font-size: 3rem;
    color: #000;
    margin-bottom: 1rem;
}

.subtitle {
    text-align: center;
    font-size: 1.1rem;
    color: #333;
}

.habits {
    margin: auto;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 10px;
    margin-bottom: 1em;
    width: 80%;
}

.habit {
    background-color: #f8f9fa;
    border-radius: 7px;
    padding: 0.5em 1em;
    font-size: 1em;
    border: 2px solid #667eea;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.subtitle-habits {
    margin-top: 0.5em;
    margin-bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 2em;
    align-self: start;
    justify-content: center;
}

.Advice {
    margin: auto;
    margin-top: 2em;
    padding: 1em;
    height: 80%;
    margin-bottom: 1em;
}

.subtitle-Advice {
    margin-top: 1em;
    width: 100%;
    text-align: center;
    font-size: 2em;
}

.sub-advice {
    text-align: center;
    font-size: 1.1rem;
    color: #333;
    margin-bottom: 1rem;
}

.btn {
    display: block;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;

    width: 200px;

    padding: 0.75em 2em;
    font-size: 1.2em;
    color: #fff;
    background-color: #667eea;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #2a67d8;
}

.list {
    width: 80%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 2em;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}


.list-item {
  font-size: 1.5em;
}

@media (max-width: 600px) {
    .results-container {
        width: 90%;
        padding: 1em;
    }

    .title {
        font-size: 2.5rem;
    }

    .subtitle-habits {
        font-size: 1.5rem;
        margin-top: 0;
    }

    .list {
        width: 100%;
        margin-left: 0;
        padding-left: 0.5em;
        font-size: 0.7em;
    }

    .sub-advice {
        font-size: 0.9em;
        text-align: center;
    }

    .habit {
        font-size: 0.9em;
        padding: 0.5em 0.5em;
    }
}